@charset "UTF-8";

.cmd_mod_form {
	display: none;
}

#favoriteContainer {
	position: absolute;
	right: 50px;
	top: 70px;
	color: #ff7675;
	font-size: 30px;
	cursor: pointer;
}

.page {
	cursor: pointer;
}

.page.selected {
	font-size: 1.3rem;
	color: #e74c3c;
	font-weight: bold;
}